:root {
    --ms-border-width: 1px;
    --ms-border-color: #d1d5db;
    --ms-radius: 4px;
    --ms-bg: #fff;
    --ms-font-size: 1rem;
    --ms-line-height: 1.375;
    --ms-px: .875rem;
    --ms-py: .5rem;
    --ms-bg-disabled: #f3f4f6;
    --ms-ring-width: 3px;
    --ms-ring-color: rgba(16, 185, 129, .18823529411764706);
    --ms-placeholder-color: #9ca3af;
    --ms-clear-color-hover: darkgray;
    --ms-dropdown-border-width: 1px;
    --ms-dropdown-border-color: #d1d5db;
    --ms-dropdown-bg: #fff;
    --ms-dropdown-radius: 4px;
    --ms-max-height: 10rem;
    --ms-option-py: .5rem;
    --ms-option-px: .75rem;
    --ms-option-font-size: 1rem;
    --ms-option-line-height: 1.375;
    --ms-option-bg-selected: orange;
    --ms-option-color-selected: #fff;
    --ms-option-bg-selected-hover: darkorange;
    --ms-option-color-selected-hover: #fff;
}

.multiselect {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    border: var(--ms-border-width) solid var(--ms-border-color);
    border-radius: var(--ms-radius);
    background: var(--ms-bg);
    font-size: var(--ms-font-size);
    min-height: calc(var(--ms-border-width) * 2 + var(--ms-font-size) * var(--ms-line-height, 1.375) + var(--ms-py) * 2)
}

.multiselect.dropdown-open {
    border-radius: var(--ms-radius, 4px) var(--ms-radius, 4px) 0 0
}

.multiselect.is-disabled {
    cursor: default;
    background: var(--ms-bg-disabled)
}

.multiselect.is-active {
    box-shadow: 0 0 0 var(--ms-ring-width) var(--ms-ring-color)
}

.multiselect-label, .multiselect-placeholder {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: transparent;
    line-height: var(--ms-line-height);
    padding-left: var(--ms-px)
}

.multiselect-placeholder {
    color: var(--ms-placeholder-color)
}

.multiselect-search {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
    box-sizing: border-box;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: inherit;
    font-family: inherit;
    background: var(--ms-bg);
    border-radius: var(--ms-radius);
    padding-left: var(--ms-px)
}


.multiselect-clear {
    padding: 0 var(--ms-px) 0 0;
    position: relative;
    z-index: 10;
    opacity: 1;
    transition: .3s;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex
}

.multiselect-clear:hover .multiselect-clear-x {
    background-color: var(--ms-clear-color-hover);
}

.multiselect-clear-x {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    text-align: center;
    padding-left: 0.75rem;
}


.multiselect-dropdown {
    position: absolute;
    left: calc(var(--ms-border-width) * -1);
    right: calc(var(--ms-border-width) * -1);
    bottom: 0;
    transform: translateY(100%);
    border: var(--ms-dropdown-border-width) solid var(--ms-dropdown-border-color);
    margin-top: calc(var(--ms-border-width) * -1);
    max-height: 15rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    background: var(--ms-dropdown-bg);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 var(--ms-dropdown-radius) var(--ms-dropdown-radius);
    outline: none
}

.multiselect-dropdown.is-hidden {
    display: none
}

.multiselect-options {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    max-height: var(--ms-max-height)
}


.multiselect-option {
    padding: var(--ms-option-py) var(--ms-option-px);
    font-size: var(--ms-option-font-size);
    line-height: var(--ms-option-line-height);
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    text-align: left
}

.multiselect-option.is-selected {
    background: var(--ms-option-bg-selected);
    color: var(--ms-option-color-selected)
}

.multiselect-option.is-hidden {
    display: none;
}

.multiselect-option.is-selected:hover {
    background: var(--ms-option-bg-selected-hover);
    color: var(--ms-option-color-selected-hover);
}


.multiselect-spacer {
    display: none
}